body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* changed to hidden to avoid unnecessary scrollbars */
}


/*min-height: 100vh */


#quote {
    color: beige;
}

#content {
    position: relative;
    width: 100vw;
    /* changed to viewport width */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* centered content vertically */
}

#image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    object-fit: contain;
    z-index: -1;
    /* send image to the background */
}

#text-container {
    position: absolute;
    bottom: 10px;
    /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#text {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 140px;
    /* responsive font size */
    color: white;
    -webkit-text-stroke: 2px black;
    /* Black outline */
}

@media only screen and (max-width:900px) {
    #text {
        font-size: 10vw !important
    }

    #text-container {
        bottom: 30px;
    }

    #content {
        overflow: hidden
    }

    #image {
        max-width: 100vw !important
    }
}


@media only screen and (max-height:450px) {

    #text-container {
        bottom: 0em;
    }



}